[submodule "Git"]
	path = Git
	url = https://github.com/manur/MATLAB-git.git
[submodule "Feature Selection/export_fig"]
	path = Feature Selection/export_fig
	url = https://github.com/ojwoodford/export_fig.git
